#container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  margin-top:2em;
  
}

.editor{
  font-size:15px;
  width:98%;
  resize:vertical;
  padding-top:0.5em;
  padding-left:0.5em;
  border:2px lightblue solid;
  border-radius:3px;
}